@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk'),
    url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-black: hsl(0, 0%, 8%);
  --clr-primary: hsl(153, 71%, 59%);
  --clr-dark-grey: hsl(0, 0%, 14%);
  --clr-light-grey: hsl(0, 0%, 85%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-error: #ff6f5b;

  --fs-xl: 88px;
  --fs-l: 48px;
  --fs-m: 24px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1;
  letter-spacing: -2.5px;
}

h2 {
  font-size: var(--fs-l);
  line-height: 1.16;
  letter-spacing: -1.5px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
}

label,
input,
button,
textarea {
  display: block;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--clr-primary);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.25em;
  cursor: pointer;
}

button:hover {
  color: var(--clr-primary);
}

.name-logo {
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.col-left,
.col-right {
  flex: 50% 1 1;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
