@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk'),
    url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--clr-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-black: hsl(0, 0%, 8%);
  --clr-primary: hsl(153, 71%, 59%);
  --clr-dark-grey: hsl(0, 0%, 14%);
  --clr-light-grey: hsl(0, 0%, 85%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-error: #ff6f5b;

  --fs-xl: clamp(2.5rem, 8vw, 5.5rem);
  --fs-l: clamp(1rem, 3vw, 3rem);
  --fs-m: clamp(1rem, 2vw, 1.5rem);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 400;
  overflow-x: clip;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-variation-settings: 'wght' 700;
}

h1 {
  position: relative;
  font-size: var(--fs-xl);
  line-height: 1;
  letter-spacing: -2.5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5%;
}

.hero {
  position: relative;
}

.hero::before {
  --width: 530px;
  position: absolute;
  background-image: url(./assets/images/pattern-rings.svg);
  content: '';
  left: calc((var(--width) / 2) * -1);
  transform: translateY(-50%);
  width: var(--width);
  height: 129px;
  z-index: -1;
}

.profile-photo__container {
  position: relative;
}

.profile-photo__container::after {
  position: absolute;
  background-image: url(./assets/images/pattern-circle.svg);
  content: '';
  bottom: 5%;
  left: 0;
  transform: translateX(-50%);
  width: 129px;
  height: 129px;
}

h2 {
  font-size: var(--fs-l);
  line-height: 1.16;
  letter-spacing: -1.5px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
}

label,
input,
button,
textarea {
  display: block;
  font-family: inherit;
}

button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-variation-settings: 'wght' 700;
  padding-bottom: 0.25em;
  transition: color 200ms ease-in;
  cursor: pointer;
  padding-left: 0;
}

button::after {
  position: absolute;
  content: '';
  top: 110%;
  left: 0;
  height: 5px;
  width: 95%;
  background-color: var(--clr-primary);
}

button:hover {
  color: var(--clr-primary);
}

.bg {
  background-color: var(--clr-dark-grey);
}

.name-logo {
  font-size: 2rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: -0.44px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.social-links ul {
  gap: 0.75em;
  fill: var(--clr-white);
  transition: fill 200ms ease-in;
}

.social-links a:hover {
  fill: var(--clr-primary);
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.col-left,
.col-right {
  flex: 50% 1 1;
}

.skills-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  border-top: 1px solid var(--clr-light-grey);
  padding-block: 2em;
  margin-block: 3em;
}

.skills-list::after {
  --width: 530px;
  position: absolute;
  content: '';
  background-image: url(./assets/images/pattern-rings.svg);
  right: 0;
  bottom: 0;
  height: 129px;
  width: var(--width);
  transform: translateX(50%);
}

.skill-item h3 {
  font-size: var(--fs-l);
  font-weight: 700;
  margin-bottom: 0.25em;
}

.projects-header {
  display: flex;
  justify-content: space-between;
}

.projects-header h2 {
  font-size: var(--fs-l);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-screenshot {
  width: 200px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.flow > * + * {
  margin-top: 3rem;
}

.flow\:small > * + * {
  margin-top: 1rem;
}
